!  - color scheme
#include ".colors/nnoell_mod"
URxvt.background: [75]black

! Appearance
!  - XFT
! Xft.autohint:  0
! Xft.lcdfilter: lcddefault
! Xft.hinting:   true
! Xft.hintstyle: hintslight
! Xft.antialias: true
! Xft.rgba:      rgb
! Xft.dpi:       96

!  - Xcursor
! Xcursor*theme: Adwaita
!Xcursor.size:  16
!*cursorColor: #ff0000

!urxvt*cursorUnderline:  true

! General
! URxvt*termName:       rxvt-unicode-256color
URxvt.iconFile:       /usr/share/icons/gnome/32x32/apps/utilities-terminal.png
URxvt.font: xft:Envy Code R:pixelsize=13:antialias=true\
            xft:WenQuanYi Micro Hei:pixelsize=15:antialias=true


URxvt.preeditType:      Root
URxvt.loginShell:       true
URxvt.scrollBar:        false
URxvt.scrollWithBuffer: false
URxvt.saveLines:        171
URxvt.cursorBlink:      false
URxvt.urgentOnBell:     false
URxvt.internalBorder:   0
!URxvt.geometry:         97x36
URxvt.depth:            32

! Extensions
URxvt.perl-lib:           /usr/lib/urxvt/perl/
URxvt.perl-ext-common:    default,matcher,searchable-scrollback
URxvt.urlLauncher:        chromium
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.button:     1
